.bg-gray {
	background-color: #cccccc;
}

.width-15 {
	width: 15%;
}

.width-20 {
	width: 20%;
}

.margin-top-3 {
	margin-top: 3px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-right-10 {
	margin-right: 10px;
}

.btn-submit {
	width: 10%;
	padding: 3px;
	border: 1px solid black;
	margin-top: 10px;
}

table th {
	font-weight: bold;
	text-align: left;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	font-family: "Time New Roman";
}

textarea, input, select {
	border: 1px solid black;
	padding: 5px;
}

textarea {
	padding-top: 55px;
}

.div-flex {
	display: flex;
}